body {
  margin: 0px;
  font-size: 16px;
}
.main-container {
  width: 100%;
  max-width: 1800px;
  margin: 0px auto;
  font-size: 1rem;
}
header,
footer {
  background-color: #444;
  color: white;
  padding: 20px;
}
header nav {
  display: flex;
}
header nav span {
  margin-right: 15px;
  border-radius: 10px;
  border: 1px solid white;
  padding: 5px 10px;
}
main {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
main .content {
  padding: 20px;
}

main section {
  overflow: hidden;
}
main .menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
}
main .menu span {
  border-bottom: 1px solid #444;
  margin-bottom: 8px;
}

main .content .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
main .content .cards .card {
  background-color: teal;
  padding: 50px 0px;
  margin: 10px;
  color: white;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  main {
    grid-auto-columns: 2fr 4fr;
  }
  main .content .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  main .menu {
    display: none;
  }
  main {
    grid-template-columns: 1fr;
  }
  main .content .cards {
    grid-template-columns: 1fr;
  }
  header nav {
    flex-direction: column;
  }
  header nav span {
    margin-top: 10px;
    text-align: center;
  }
  .main-container {
    font-size: 1.3rem;
  }
}
